[Unit]
Description=tty2rpi update

[Service]
#Environment=REPOSITORY_URL="https://raw.githubusercontent.com/ojaksch/MiSTer_tty2rpi/main"
Environment=REPOSITORY_URL="https://raw.githubusercontent.com/ojaksch/MiSTer_tty2rpi/refs/heads/testing"
EnvironmentFile=-%h/tty2rpi-user.ini
ExecStartPre=/bin/wget ${REPOSITORY_URL}/update_tty2rpi.sh -O /tmp/update_tty2rpi.sh
ExecStart=/bin/bash /tmp/update_tty2rpi.sh
