[Unit]
Description="Watch for changes in TMPDIR/tty2rpi.socket (systemd service)"
After=network.target syslog.target tty2rpi-socket.service change.login.tty.service

[Service]
Type=simple
ExecStart=%h/tty2rpi-scripts/tty2rpi-inotify.sh

[Install]
WantedBy=multi-user.target
