[Unit]
Description="Socket for tty2rpi data"
After=network.target syslog.target

[Service]
Type=simple
ExecStart=/bin/bash -c '/bin/nc -k -l 6666 > %h/.tmp/tty2rpi.socket'

[Install]
WantedBy=multi-user.target
