[Unit]
Description=Weekly update of tty2rpi

[Timer]
OnCalendar=Fri 14:00
RandomizedDelaySec=7200
Persistent=true
AccuracySec=1ms

[Install]
WantedBy=timers.target

