ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
country=YOUR-WIFI-COUNTRY-CODE
ap_scan=1

network={
        ssid="YOUR-SSID"
        psk="YOUR-SECRET-WIFI-PASSWORD"
        key_mgmt=WPA-PSK-SHA256
        ieee80211w=2
}
